external-sources=true
disable=SC2311,SC2312 # Noisy shell checks for -e and error codes.

#disable=MD026 # Noisy markdown checks for trailing chars after headings

#disable=MD024  # Noisy markdown checks for multiple headings

#disable=SC2059,SC2034 # Disable individual error codes

#disable=SC1090-SC1100 # Disable a range of error codes

